body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    letter-spacing: -.022em;
    font-synthesis: none;
    -moz-font-feature-settings: 'kern';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    line-height: 1.5em;
    padding: 25px;

}

img {
    max-width: 100%; /* Afbeeldingen responsive maken */
}

/* Voeg jouw css hieraan toe */

th{
    width:200px;
    background-color:rgb(29, 199, 72);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
td{
    background-color:hsla(135, 57%, 62%, 1)
}
/*    font-family: 'Roboto Slab', serif;
font-family: 'Yanone Kaffeesatz', sans-serif;*/

.title{
    font-family: 'Roboto Slab', serif;
    font-size:24px;
    font-weight:700;
}
.subtitle{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}
.description{
    font-family: 'Roboto Slab', serif;
    font-size:12px;
}
.chattext{
    font-family: 'Yanone Kaffeesatz', 'sans-serif';
    font-size: 14px;
}

.genre{
    border:5px solid black;
    width:275px;
}
.gtitle{
  text-align:center;  
}
.gdesc{
    text-align:center;
}